<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="me.yeojoy.watermanager"
	android:versionCode="1"
	android:versionName="1.0" >

	<uses-sdk
		android:minSdkVersion="14"
		android:targetSdkVersion="19" />

	<application
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme"
        android:name=".WaterManagerApplication">
		<activity
			android:name="me.yeojoy.watermanager.WaterActivity"
			android:label="@string/app_name" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
        <activity
        	android:name="me.yeojoy.watermanager.WaterConfiguration" >
			<intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
		</activity>
		<receiver
			android:name=".widget.WaterWidgetProvider">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
			</intent-filter>
			<intent-filter>
				<action android:name="me.yeojoy.action.PLUS"/>
			</intent-filter>
            <intent-filter>
				<action android:name="me.yeojoy.action.MINUS"/>
			</intent-filter>
			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/water_appwidget_info" />
		</receiver>
	</application>

</manifest>